.btn1{
  margin-top: 5em;
}

th{
  font-weight: bold;
}

h3{
  margin-top: 1em;
}

.home{
  margin: 2em;
 }

.table{
  padding-top: 4em;
  padding-left: 20em;
  padding-right: 20em;

}

a{
  margin-left: 1em;
}
